/* Fichier CSS */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  max-width: 500px;
  margin:0 auto;
  text-align: center;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

form input[type="number"],
form input[type="text"],
form select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 1em;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
}

#result {
  text-align: center;
  margin-top: 1em;
}
