body {
  font-family: sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}


#broderie-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

form {
  margin-top: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

#results {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
}


/* Styles pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
  #broderie-form {
    width: 90%;
    padding: 10px;
  }
  #results {
    width: 90%;
    padding: 10px;
  }
}

/* Styles pour les écrans de moyenne taille */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  #broderie-form {
    width: 75%;
    padding: 15px;
  }
  #results {
    width: 75%;
    padding: 15px;
  }
}

/* Styles pour les écrans de grande taille */
@media only screen and (min-width: 901px) {
  #broderie-form {
    width: 80%;
    padding: 20px;
  }
  #results {
    width: 80%;
    padding: 20px;
  }
}
